@page
@model WebApi.Pages.ResetPassword
@{
    ViewData["Title"] = "Reset Password";
}

<head>
</head>
<body>
    <h1>Reset Password</h1>
    @* Display error or success messages *@
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    else if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="alert alert-success">@Model.SuccessMessage</div>
    }

    @* If there's no error, display the reset password form *@
    @if (!Model.InvalidToken && string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <form method="post" asp-page="./ResetPassword" asp-route-token="@Request.Query["token"]">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="NewPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required value="@TempData["NewPassword"]" />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required value="@TempData["ConfirmPassword"]" />
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    }
</body>